<h1><small>Acerca de</small> Álvaro Emparán</h1>
<p>
    Profesional con capacidad para adaptarse a nuevos desafíos. Proactivo y perseverante en el cumplimiento de los desafíos inherentes a sus responsabilidades. Alta capacidad de aprendizaje y trabajo en equipos multi disciplinarios, investigando los nuevos avances tecnológicos que pueden ayudar a diario a las organizaciones. Las dificultades que enfrentan las organizaciones no son obstáculo para ofrecer y entregar el mejor esfuerzo, para así alcanzar el objetivo final. El foco principal es la investigación en desarrollo de proceso autónomos que resuelvan tareas repetitivas, mejorando la gestión de procesos dentro de la organización.
</p>
<p>
    Enfocado en mantener una vida saludable entre lo profesional y lo familiar. Mi principal objetivo es aprender todo lo que pueda, y además entregar ese conocimiento y experiencia a los demás. 
</p>
<a class="btn btn-primary btn-sm" href="https://www.linkedin.com/in/álvaro-m-emparán-flores-09aa7937" target="_blank" role="button">Ver prefil en linkedin</a>
<hr>

